.article-title,
.meta {
  display: none;
}

.man {
  font-family: var(--font-monospace);
  color: #d2d2d2;
}

h2 {
  font-size: 100%;
  color: rgb(235, 231, 237);
}

code {
  color: var(--primary);
  padding-left: 0;
}

pre {
  padding-left: 2rem;
}

p:not(:first-of-type) {
  padding-left: 2rem;
}
